<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>
      <div class="jumbotron">
        <h1>Library</h1>
        <a href="/"><button class="btn btn-primary" type="button" name="tasks">Home</button></a>
        <a href="/authors"><button class="btn btn-primary" type="button" name="tasks">Add New Author</button></a>
        <a href="/books"><button class="btn btn-primary" type="button" name="tasks">Add New Book</button></a>
      </div>

      #parse( $template )

    </div>
  </body>
</html>
